@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: albert sans; }

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
  background-color: black; }
  header nav div img {
    width: 150px;
    height: 150px; }

.navItem:active {
  background-color: #BFBFBF; }

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
.itemsServicios, footer {
  display: flex;
  align-items: flex-start; }

h1, .servicios h2, .producciones h2, .pagProducciones div div h2 {
  font-family: shrikhand;
  letter-spacing: 1px; }

/* ----------------------------------- H1 ----------------------------------- */
h1 {
  font-size: 40px;
  margin: 20px 5px 15px 20px; }

/* -------------------------------------------------------------------------- */
/*                                    INDEX                                   */
/* -------------------------------------------------------------------------- */
.hero {
  width: 100%;
  height: 80vh;
  background-image: url("../img/index-somos-una-productora.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: start;
  flex-direction: column; }
  .hero h1 {
    font-family: courgette;
    font-size: 50px; }
  .hero p {
    margin: 0 500px 20px 20px; }

.servicios {
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  padding: 20px 0 20px 0; }
  .servicios h2 {
    font-size: 33px;
    margin: 0 0 10px 20px;
    padding: 30px 0 0 0;
    font-style: italic; }

.subtituloServicios h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0 30px 0; }

.itemsServicios {
  justify-content: space-around; }
  .itemsServicios div {
    margin: 25px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    transition: 0.5s; }
    .itemsServicios div:hover {
      background-color: #BFBFBF; }
    .itemsServicios div h3 {
      margin: 12px 0 12px 0;
      transition: 2s;
      font-size: 20px; }
      .itemsServicios div h3:hover {
        text-decoration: underline; }

.iconoServicios {
  width: 40px;
  height: 40px; }

.producciones h2 {
  font-size: 33px;
  margin: 0 0 0 20px;
  padding: 30px 0 0 0;
  font-style: italic;
  text-align: center; }

.producciones div div {
  width: 302px;
  height: 390px;
  margin: 10px 3px 20px 3px;
  background-color: #D9D9D9;
  border: 1.5px solid #737373;
  border-radius: 10px;
  transition: 1.3s; }
  .producciones div div:hover {
    transform: scale(1.08); }
  .producciones div div img {
    width: 300px;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .producciones div div h3 {
    font-family: shrikhand;
    margin: 5px 0 10px 8px;
    font-size: 28px; }
  .producciones div div h4 {
    margin: 5px 8px 15px 8px;
    font-size: 20px; }
  .producciones div div a {
    margin: 0 7px 0 7px;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #737373;
    border-radius: 5px;
    display: flex;
    justify-content: center; }
    .producciones div div a:hover {
      color: #404040;
      background-color: #BFBFBF;
      border: 1.5px solid #737373; }

.produccionesCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px 0 25px 0;
  padding: 25px 0 25px 0; }

/* -------------------------------------------------------------------------- */
/*                                QUIÉNES SOMOS                               */
/* -------------------------------------------------------------------------- */
.somos p {
  font-size: 25px;
  margin: 20px 9px 35px 25px; }

.gridQS {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 5px;
  padding: 0 15px 0 25px;
  margin: 0 0 25px 0; }
  .gridQS div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.directora {
  display: flex;
  margin: 0 0 25px 0;
  align-items: center; }

.directoraImg img {
  width: 350px;
  height: 350px;
  margin: 0 40px 10px 25px;
  border-radius: 100%; }

.directoraText {
  margin: 0 25px 0 0; }
  .directoraText h2 {
    font-size: 35px; }
  .directoraText p {
    font-size: 25px;
    margin: 10px 0 0 0;
    line-height: 1,5cm;
    text-align: justify; }

/* -------------------------------------------------------------------------- */
/*                                  SERVICIOS                                 */
/* -------------------------------------------------------------------------- */
.accordion {
  margin: 20px 0 0 0;
  padding: 30px 30px 10px 30px; }

.gridGaleria {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 5px; }
  .gridGaleria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s; }
    .gridGaleria div img:hover {
      transform: scale(1.03); }

.img5Grid {
  grid-column: -3/-1; }

/* -------------------------------------------------------------------------- */
/*                                PRODUCCIONES                                */
/* -------------------------------------------------------------------------- */
.pagProducciones div div h2 {
  color: #404040;
  font-size: 40px;
  margin: 20px 0 20px 20px; }

.pagProducciones div div h3 {
  color: #404040;
  font-size: 28px;
  margin: 20px 25px 20px 25px; }

.pagProducciones div div p {
  font-size: 22.5px;
  margin: 20px 25px 20px 25px;
  text-align: justify; }
  .pagProducciones div div p span {
    color: #737373; }

.imgCarousel {
  width: 1300px;
  height: 600px;
  object-fit: cover; }

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */
.form {
  margin: 10px 15px 15px 25px; }
  .form div {
    margin: 10px 0 15px 0; }
    .form div textarea {
      margin: 10px 0 0 0; }
    .form div div {
      margin: 0 10px 0 0; }

.inputForm {
  margin: 10px 0 10px 0;
  outline: none; }
  .inputForm:focus {
    border-radius: 5px;
    border: 3px solid #737373;
    box-shadow: 0 0 3.5px 0 #737373; }

.form-check-input:checked {
  background-color: #737373;
  border-color: #737373; }

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.itemsServicios, footer {
  display: flex;
  align-items: flex-start; }

h1, .servicios h2, .producciones h2, .pagProducciones div div h2 {
  font-family: shrikhand;
  letter-spacing: 1px; }

footer {
  color: white;
  background-color: black;
  width: 100%;
  padding: 0 0 30px 0;
  justify-content: space-between;
  flex-wrap: wrap; }
  footer div {
    margin: 25px 0 0 0; }
    footer div img {
      width: 100px;
      height: 100px; }
    footer div h3 {
      font-family: courgette;
      font-size: 30px;
      margin: 0 0 0 10px; }
    footer div h4 {
      margin: 0 0 20px 10px;
      font-size: 20px; }
    footer div p {
      margin: 0 10px 10px 10px; }

.menuFooter {
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0; }
  .menuFooter li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s; }
    .menuFooter li a:hover {
      text-decoration: underline; }

.rrssImg {
  width: 50px;
  height: 50px;
  margin: 0 0 0 10px;
  transition: 1s; }
  .rrssImg:hover {
    transform: scale(1.2); }

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
@media screen and (max-width: 1074px) {
  .hero P {
    margin: 0 300px 20px 20px; } }

@media screen and (max-width: 951px) {
  .hero P {
    margin: 0 200px 20px 20px;
    font-size: 25px; } }

@media screen and (max-width: 858px) {
  .itemsServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; } }

@media screen and (max-width: 659px) {
  .hero {
    justify-content: center;
    padding: 30px 0 50px 0; }
    .hero h1 {
      text-align: center;
      margin: 0 15px 0 15px; }
    .hero p {
      margin: 0 15px 20px 15px;
      padding: 0 0 10px 0;
      text-align: center; }
  .itemsServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .servicios h2 {
    text-align: center; }
  .producciones h2 {
    text-align: center; } }

@media screen and (max-width: 574px) {
  .hero h1 {
    font-size: 40px;
    margin: 15px; }
  .hero p {
    font-size: 20px;
    margin: 0 20px 0 20px; }
  .servicios h2 {
    margin: 0 10px 0 10px; }
  .producciones h2 {
    margin: 0 10px 0 10px; }
  .subtituloServicios {
    margin: 0 10px 0 10px; } }

@media screen and (max-width: 362px) {
  .itemsServicios div {
    margin: 10px 10px 10px 10px; } }

/* ------------------------------ QUIÉNES SOMOS ----------------------------- */
@media screen and (max-width: 936px) {
  .directora {
    flex-direction: column; }
  .directoraText {
    margin: 0 25px 0 25px; }
    .directoraText h2 {
      text-align: center; }
  .gridQS {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 558px) {
  .somos h1 {
    text-align: center;
    margin: 15px 15px 0 15px;
    font-size: 33px; }
  .somos p {
    font-size: 22.5px;
    text-align: center; }
  .gridQS {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 180px; }
  .directoraImg img {
    width: 250px;
    height: 250px; }
  .directoraText h2 {
    font-size: 30px; }
  .directoraText p {
    font-size: 20px; } }

@media screen and (max-width: 400px) {
  .gridQS {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px; }
  .somos p {
    font-size: 18px;
    text-align: center;
    margin: 20px 25px 35px 25px; }
  .directoraImg img {
    width: 180px;
    height: 180px; }
  .directoraText h2 {
    font-size: 25px; }
  .directoraText p {
    font-size: 18px; } }

/* -------------------------------- SERVICIOS ------------------------------- */
@media screen and (max-width: 819px) {
  .gridGaleria {
    grid-auto-rows: 200px; } }

@media screen and (max-width: 728px) {
  .pagServicios h1 {
    text-align: center;
    margin: 20px 20px 15px 20px; } }

@media screen and (max-width: 680px) {
  .gridGaleria {
    grid-auto-rows: 150px; } }

@media screen and (max-width: 550px) {
  .pagServicios h1 {
    font-size: 33px;
    margin-top: 30px; }
  .gridGaleria {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px; } }

@media screen and (max-width: 407px) {
  .gridGaleria {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gridGaleria div img {
    width: 250px;
    height: 150px; } }

/* ------------------------------ PRODUCCIONES ------------------------------ */
@media screen and (max-width: 880px) {
  .imgCarousel {
    width: 880px;
    height: 400px; } }

@media screen and (max-width: 716px) {
  .pagProducciones h1 {
    text-align: center;
    margin: 25px 10px 25px 20px;
    font-size: 33px; }
  .pagProducciones div div h2 {
    font-size: 30px; }
  .pagProducciones div div h3 {
    font-size: 22.5px; }
  .pagProducciones div div p {
    font-size: 18px; } }

@media screen and (max-width: 550px) {
  .imgCarousel {
    width: 550px;
    height: 250px; } }

/* --------------------------------- FOOTER --------------------------------- */
@media screen and (max-width: 968px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center; } }
