/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

@import "../base/variables";
@import "../base/mixin";

header {
    background-color: black;
    nav {
        div {
            img {
                @include size (150px, 150px);
            }
        }
    }
}

.navItem:active {
    background-color: $bg-color-animation;
}