/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

@import "../base/variables";
@import "../base/maps";
@import "../base/extends";
@import "../base/mixin";

footer {
    color: white;
    background-color: black;
    width: 100%;
    padding: 0 0 30px 0;
    @extend %flexAIStart;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
        margin: 25px 0 0 0;
        img {
            @include size (100px, 100px);
        }
        h3 {
            font-family: map-get($logo, font-family);
            font-size: map-get($logo, fs-footer);
            margin: 0 0 0 10px;
        }
        h4 {
            margin: 0 0 20px 10px;
            font-size: 20px;
        }
        p {
            margin: 0 10px 10px 10px;
        }
    }
}

.menuFooter {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    li {
        a {
            text-decoration: none;
            color: white;
            font-size: nth($font-size, 10);
            font-weight: 300;
            transition: 0.5s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.rrssImg {
    @include size (50px, 50px);
    margin: 0 0 0 10px;
    transition: 1s;
    &:hover {
        transform: scale(1.2);
    }
}