/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */

@media screen and (max-width:951px) {
    .hero {
        P {
            margin: 0 300px 0 20px;
        }
    }
}

@media screen and (max-width:858px) {
    .itemsServicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width:659px) {
    .hero {
        justify-content: center;
        h1 {
            text-align: center;
            margin: 0 15px 0 15px;
        }
        p {
            margin: 0 15px 20px 15px;
            padding: 0 0 10px 0;
            text-align: center;
        }
    }
    .itemsServicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .servicios {
        h2 {
            text-align: center;
        }
    }
    .producciones {
        h2 {
            text-align: center;
        }
    }
}

@media screen and (max-width:574px) {
    .hero {
        h1 {
            font-size: 40px;
            margin: 15px;
        }
        p {
            font-size: 20px;
            margin: 0 20px 0 20px;
        }
    }
    .servicios {
        h2 {
            margin: 0 10px 0 10px;
        }
    }
    .producciones {
        h2 {
            margin: 0 10px 0 10px;
        }
    }
    .subtituloServicios {
        margin: 0 10px 0 10px;
    }
}

@media screen and (max-width:362px) {
    .itemsServicios {
        div {
            margin: 10px 10px 10px 10px;
        }
    }
}

/* --------------------------------- FOOTER --------------------------------- */

@media screen and (max-width:730px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}